body {
    background-color: rgb(14, 14, 14);
}

.div1 {
    display: inline-block;
    position: relative;
}

.img1 {
    width: 1548px;
    height: 730px;
    margin: -15px -40px -30px -20px;
    filter: brightness(26%);
}

.netflix {
    position: absolute;
    top: -20px;
    left: 130px;
    color: rgb(209, 0, 0);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
}

.signin {
    position: absolute;
    top: 20px;
    right: 130px;
    color: white;
    background-color: rgb(209, 0, 0);
    border: 7px solid rgb(209, 0, 0);
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.text1 {
    position: absolute;
    top: 180px;
    right: 470px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 55px;
}

.text2 {
    position: absolute;
    top: 245px;
    right: 530px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 55px;
}

.text3 {
    position: absolute;
    top: 350px;
    right: 580px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.text4 {
    position: absolute;
    top: 410px;
    right: 465px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.emailadd {
    position: absolute;
    top: 460px;
    left: 465px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid gray;
    border-radius: 4px;
    width: 330px;
}

.getstarted {
    position: absolute;
    top: 460px;
    right: 449px;
    color: white;
    background-color: rgb(209, 0, 0);
    border: 12px solid rgb(209, 0, 0);
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 21.5px;
    width: 200px;
}

.line {
    position: absolute;
    top: 720px;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, black, red, black);
    border-top-left-radius: 100% 300%;
    border-top-right-radius: 100% 500%;
    box-shadow: 0 20px 100px blue;
}

.text5 {
    position: absolute;
    top: 790px;
    left: 145px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

.card1 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, #1e1737, #0d0b15);
    border-radius: 15px;
    width: 300px;
    height: 230px;
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease;
    transform: scale(1.05);
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-size: 0.95rem;
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
}