/* .abd{
    font-family: 'Courier New', Courier, monospace;
} */

/* .bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'font1';
    src: url(./StalinistOne-Regular.ttf);
}

.abd{
    font-family: 'font1';
} */

/* .abd{
    font-size: larger;
} */

/* .abd{
    font-size: 69%;
} */

/* .abd{
    font-weight: ;
} */

/* .abd{
    text-transform: uppercase;
} */

/* .abd{
    line-height: 50px;
} */

/* .abd{
    word-spacing: 20px;
} */

/* .abd{
    letter-spacing: 10px;
} */

/* h1{
    text-align: right;
} */



