* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #efefef;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}


h2 {
    font-size: 48px;
    color: #2e2e2e;
    font-weight: bold;
    display: inline-block;
    margin: 30px;
    min-width: 80px;
}


button {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    color: white;
    margin: 25px;
}

.btn1 {
    background-color: #4CAF50;
}

.btn1:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.btn2 {
    background-color: #f44336;
}

.btn2:hover {
    background-color: #da190b;
    transform: scale(1.05);
}

.btn3 {
    background-color: #008CBA;
}

.btn3:hover {
    background-color: #007399;
    transform: scale(1.05);
}
