/* p{
    text-shadow: 5px 5px 1px #de305c;
}
 .abd{
    text-shadow: -5px -5px 1px rgb(86, 28, 180);
 }

 .abs{
    text-shadow: 1px 9px rgb(208, 208, 21);
    line-height: 26px;
 } */

 /* p.one {
background-color: #eeeeee;
color: #666666;
text-shadow: 1px 1px 0px #000000;
}

p.two {
background-color: #dddddd;
color: #666666;
text-shadow: 1px 1px 3px #666666;
}

p.three {
background-color: #cccccc;
color: #ffffff;
text-shadow: 2px 2px 7px #111111;
}

p.four {
background-color: #bbbbbb;
color: #cccccc;
text-shadow: -1px -2px #666666;
}

p.five {
background-color: #aaaaaa;
color: #ffffff;
text-shadow: -1px -1px #666666;
} */

/* .yy::first-letter{
    font-size: 500%;
}

.yu::first-line{
    font-weight: 900;
} */

/* a:link{
    text-decoration: none;
    text-decoration: underline;
} */

/* a:active{
    
} */

/* a:hover{
    background-color: red;
    color: antiquewhite;
} */

input.submit:active{
    background-color: seagreen  ;
}